<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SOH PREDICTION</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='./styles/main.css') }}">

  </head>
  <body>
<div class="container">
</br></br>
<div><h2><i>Learning cycle analysis of smart battery in E-vehicle using Machine Learning</i></h2></div>
        <div class="row">
       
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="category mb-30">
                
                    <div class="job">
                        <span class="colors1 mb-4">LSTM</span>
                        <h5><a href="#"> Long Short Term Memory </a></h5>
                        <ul class="place">
                            <li>
                                <p><i class="fas fa-map-marker-alt pe-2"></i>It is a special kind of RNN, capable of learning long-term dependencies.</p>
                            </li>
                           
                        </ul>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="left">
                               <a href={{url_for('mlstmsoh')}} class="btn btn-secondary btn active" role="button" aria-pressed="true">SOH</a>

                            </div>
                    <a href={{url_for('mlstmsoc')}} class="btn btn-secondary btn active" role="button" aria-pressed="true">SOC</a>
                        </div>
                    </div>
               
                </div>
    
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="category mb-30">
                    <div class="job">
                        <span class="colors2 mb-4">SVR</span>
                        <h5><a href="#">Support Vector Regression</a></h5>
                        <ul class="place">
                            <li>
                                <p><i class="fas fa-map-marker-alt pe-2"></i>
It is a classification algorithm that applies it to predict real values rather than a class.</p>
                            </li>
                           
                        </ul>
                        <div class="pricing d-flex justify-content-between align-items-center">
                            <div class="left">
                               <a href={{url_for('svr')}} class="btn btn-secondary btn active" role="button" aria-pressed="true">SOH</a>
                            </div>
                            <a href={{url_for('svrsoc')}} class="btn btn-secondary btn active" role="button" aria-pressed="true">SOC</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="category mb-30">
                    <div class="job">
                        <span class="colors3 mb-4">L2</span>
                        <h5><a href="#">Ridge Regressor</a></h5>
                        <ul class="place">
                            <li>
                                <p><i class="fas fa-map-marker-alt pe-2"></i>It is a ensemble learning method for classification, regression and other tasks.

</p>
                            </li>
                           
                        </ul>
                        <div class="pricing d-flex justify-content-between align-items-center">
                            <div class="left">
                               <a href={{url_for('l2soh')}} class="btn btn-secondary btn active" role="button" aria-pressed="true">SOH</a>
                            </div>
                            <a href={{url_for('l2soc')}} class="btn btn-secondary btn active" role="button" aria-pressed="true">SOC</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="category mb-30">
                    <div class="job">
                        <span class="colors4 mb-4">NN-PSO</span>
                        <h5><a href="#">Neural Network with Particle Swarm Optimization</a></h5>
                        <ul class="place">
                            <li>
                                <p><i class="fas fa-map-marker-alt pe-2"></i>method in artificial intelligence that teaches computers to process data in a way that is inspired by the human brain.</p>
                            </li>
                           
                        </ul>
                        <div class="pricing d-flex justify-content-between align-items-center">
                            <div class="left">
                               <a href={{url_for('nnsoh')}} class="btn btn-secondary btn active" role="button" aria-pressed="true">SOH</a>
                            </div>
                        <a href={{url_for('nnsoc')}} class="btn btn-secondary btn active" role="button" aria-pressed="true">SOC</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="category mb-30">
                    <div class="job">
                        <span class="colors5 mb-4">BP-PSO &ampGA</span>
                        <h5><a href="#">Back Propagation LSTM with PSO and GA</a></h5>
                        <ul class="place">
                            <li>
                                <p><i class="fas fa-map-marker-alt pe-2"></i>It is the practice of fine-tuning the weights of a neural net based on the error rate obtained in the previous epoch.</p>
                            </li>
                           
                        </ul>
                        <div class="pricing d-flex justify-content-between align-items-center">
                            <div class="left">
                               <a href={{url_for('gasoh')}} class="btn btn-secondary btn active" role="button" aria-pressed="true">SOH</a>
                            </div>
                        <a href={{url_for('gasoc')}} class="btn btn-secondary btn active" role="button" aria-pressed="true">SOC</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="category mb-30">
                    <div class="job">
                        <span class="colors2 mb-4">Graph</span>
                        <h5><a href="#">Graphical Representation of Prediction</a></h5>
                        <ul class="place">
                            <li>
                                <p><i class="fas fa-map-marker-alt pe-2"></i>comparing soc and soh prediction of all models through graphical representation </p>
                            </li>
            
                        </ul>
                        <div class="pricing d-flex justify-content-between align-items-center">
                            <div class="left">
                               <a href="" class="btn btn-secondary btn active" role="button" aria-pressed="true">SOH</a>
                            </div>
   <a href="" class="btn btn-secondary btn active" role="button" aria-pressed="true">SOC</a>

                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
  
  </body>
</html>
