<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SOH PREDICTION</title>
  </head>
  <body>
  <h2>SOH PREDICTION</h2>
  <table>
  <thead>
  <th>TimeStamp &nbsp</th>
  <th>Voltage &nbsp</th>
  <th>Current &nbsp</th>
  <th>Actual soc &nbsp</th>
  <th>SVR-SOC Prediction &nbsp</th>
  <thead>
  <tbody>
{% for i in range(length) %}
   <tr><td>{{sortto[i][0]}} &nbsp</td>
   <td>{{sortto[i][1]}} &nbsp</td>
   <td>{{sortto[i][2]}} &nbsp</td>
<td>{{sortto[i][7]}} &nbsp</td>
<td>{{sortto[i][8]}} &nbsp</td>
</tr> 
{% endfor %}
<tbody>
  </body>
</html>